h1{
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	color: black;
}
p{
	style="font-family: 'Lobster', cursive;"
}
hr{
	border-width: 5px;	
}
h6{
	font-family: 'Shadows Into Light', cursive;
}